<div id="media_manages_input_time_modal" class="c-modal" style="display:none;">
  <div class="c-modal--title">
    視聴時間入力
  </div>
  <div class="c-modal--content">

    <%= select 'begin-time-input-select', :hour, 0..100, { prompt: '時' }, { class: "c-select time-input-select" } %>
    <div class="input-separate">：</div>
    <%= select 'begin-time-input-select', :min, 0..59, { prompt: '分' }, { class: "c-select time-input-select" } %>
    <div class="input-separate">：</div>
    <%= select 'begin-time-input-select', :sec, 0..59, { prompt: '秒' }, { class: "c-select time-input-select" } %>
    <div>〜</div>
    <%= select 'end-time-input-select', :hour, 0..100, { prompt: '時' }, { class: "c-select time-input-select" } %>
    <div class="input-separate">：</div>
    <%= select 'end-time-input-select', :min, 0..59, { prompt: '分' }, { class: "c-select time-input-select" } %>
    <div class="input-separate">：</div>
    <%= select 'end-time-input-select', :sec, 0..59, { prompt: '秒' }, { class: "c-select time-input-select" } %>

    <div class="keyboard-input-title">キーボード入力</div>
    <div class="keyboard-input-section hide">
      <%= render "input_time", {prefix: "begin", value: nil} %>
      <div>〜</div>
      <%= render "input_time", {prefix: "end", value: nil} %>
    </div>
  </div>
  <div>
    <a href="#!" class="c-button modaal_inline_close">キャンセル</a>
    <button id="timespan_submit_id" class="c-button c-button--confirm">登録</button>

    <%= form_with id: 'timespan_form_id', url: add_params_to_url(media_time_span_index_path, playlist_param) do |f| %>
      <input type="hidden" name="media_manage_id" value="<%= media_namage.id %>">
      <input type="hidden" name="begin_sec" value="123">
      <input type="hidden" name="end_sec" value="456">
    <% end %>
  </div>
</div>
