
<h1>
  動画情報編集
</h1>

<%= form_for @media_manage, url: {action: "update"} do |f| %>
  <%= f.label :thumbnail %>
  </br>
  <%= f.file_field :thumbnail, accept: 'image/jpeg,image/gif,image/png' %>
  <p>※画像は320x180にリサイズされます</p>
  </br>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :media_url %>
  <%= f.text_field :media_url %>
  <%= f.label "動画時間(時：分：秒)" %>
  <%= f.hidden_field :media_sec %>
  <div>
    <%= render "input_time", {prefix: "length", value: @media_manage.media_sec} %>
  </div>
  <%= f.submit "更新", class: "btn" %>
<% end %>

</br>
<%= link_to "キャンセル", media_manage_path(@media_manage), class: "btn yellow darken-3" %>
</br>
</br>
</br>
<button data-target="media_manages_delete_modal" class="btn modal-trigger red accent-4">
  delete
</button>

<div id="media_manages_delete_modal" class="modal">
  <div class="modal-content">
    <h4>確認</h4>
    <p>この操作は取り消せません。</p>
    <p>本当に削除してよろしいですか？</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn">キャンセル</a>
    <%= link_to '削除する', media_manage_path(@media_manage), method: :delete, class: "waves-effect waves-red btn red" %>
  </div>
</div>
