
<% if @inflow_playlist %>
  <%= link_to "＜ プレイリスト[#{@inflow_playlist.name}] に戻る", playlist_path(@inflow_playlist) %>
<% else %>
  <%= link_to "＜ 一覧に戻る", media_manages_path %>
<% end %>

<div class="media-manage-show__media-info">
  <div class="media-manage-show__thumbnail">
    <%= link_to @media_manage.media_url, target: :_blank do %>
      <%= thumbnail_tag(@media_manage, '240x135') %>
    <% end %>
  </div>
  <div class="media-manage-show__media-detail">
    <div class="show-media-manag-title">
      <%= @media_manage.title %>
    </div>
    <div>
      動画時間：<%= @media_manage.media_sec_str %>
    </div>
    <div>
      ステータス：<%= @media_manage.media_status %>
    </div>
  </div>
</div>

<div class="media-manage-show__action-buttons">
  <a href="#media_manages_input_time_modal" class="media-manage-show__action-button modaal-modal">
    <i class="fa-solid fa-clock"></i>
    <div class="media-manage-show__action-button-text">時間追加</div>
  </a>

  <a id="media_time_image_btn_id" class="media-manage-show__action-button">
    <i class="fa-solid fa-image"></i>
    <div class="media-manage-show__action-button-text">画像追加</div>
  </a>

  <% if @media_manage.media_sec_exists? %>
    <a href="#media_manages_finish_watching_modal" class="media-manage-show__action-button modaal-modal">
      <i class="fa-solid fa-square-check"></i>
      <div class="media-manage-show__action-button-text">視聴完了にする</div>
    </a>
  <% end %>

  <a href="#media_manages_playlist_modal" class="media-manage-show__action-button modaal-modal">
    <i class="material-icons">playlist_play</i>
    <div class="media-manage-show__action-button-text material-icon-text">プレイリスト</div>
  </a>

  <% if @media_manage.do_not_watch? %>
    <%= link_to cancel_do_not_watch_media_manage_path, class: "media-manage-show__action-button", method: :patch do %>
      <i class="fa-solid fa-folder-minus"></i>
      <div class="media-manage-show__action-button-text">今は見ない<br>から削除する</div>
    <% end %>
  <% else %>
    <%= link_to do_not_watch_media_manage_path, class: "media-manage-show__action-button is-text-only", method: :patch do %>
      <i class="fa-solid fa-folder-plus"></i>
      <div class="media-manage-show__action-button-text">今は見ない<br>に入れる</div>
    <% end %>
  <% end %>

  <a href="<%= add_params_to_url(edit_media_manage_path(@media_manage), @playlist_param) %>" class="media-manage-show__action-button">
    <i class="fa-solid fa-pen-to-square"></i>
    <div class="media-manage-show__action-button-text">編集</div>
  </a>

  <%= link_to add_params_to_url(fetch_media_manage_path(@media_manage), @playlist_param), class: "media-manage-show__action-button", method: :patch do %>
    <i class="fa-brands fa-youtube"></i>
    <div class="media-manage-show__action-button-text">動画情報更新</div>
  <% end %>

  <% if @media_manage.can_restore %>
    <a href="#media_manages_restore_modal" class="media-manage-show__action-button modaal-modal">
      <i class="fa-solid fa-rotate-left"></i>
      <div class="media-manage-show__action-button-text">元に戻す</div>
    </a>
  <% end %>
</div>

<%= form_for @media_time_image, html: {id: 'media_time_image_form_id'} do |f| %>
  <%= f.hidden_field :media_manage_id, value: @media_manage.id %>
  <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  <% if @inflow_playlist %> 
    <%= f.hidden_field :playlist, value: @inflow_playlist.id %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function(){
    $('#media_time_image_btn_id').click(function(){
      $('#media_time_image_form_id').children('input').click();
    })

    $('#media_time_image_form_id').children('input').change(function(){
      $('#media_time_image_form_id').submit();
    });

    $('#timespan_finish_watch_submit_id').click(function(){
      $('#timespan_finish_watch_id').submit();
    });
  })
</script>

<div class="waching-data-section">
  <% if @time_spans.any? %>
    <ul class="time-span-collection">
      <% @time_spans.each_with_index do |ts, i| %>
        <li class="collection-item">
          <div class="time-span-block" id="time-span-block-<%= i %>">
            <div class="time-span-item time-span-timestamp"><%= ts.begin_time_str %></div>
            <div class="time-span-item">〜</div>
            <div class="time-span-item time-span-timestamp"><%= ts.end_time_str %></div>
            <div class="time-span-item time-span-icons">
              <a href="<%= @media_manage.media_url_with_sec(ts.end_sec) %>" target="_blank">
                <i class="material-icons">live_tv</i>
              </a>
            </div>
            <div class="time-span-item time-span-icons time-span-delete">
              <a href=<%= add_params_to_url(media_time_span_path(ts), @playlist_param) %> data-method="delete">
                <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @media_manage.media_time_image.any? %>
    <ul class="media_time_image-collection">
      <% @media_manage.media_time_image.each_with_index do |time_image, i| %>
        <li class="collection-item">
          <div class="time-span-block">
            <%= link_to time_image.image.url, target: :_blank do %>
              <%= image_tag time_image.image.thumb.url %>
            <% end %>
            <div>
              <a href="#media_manages_time_image_delete_modal_<%= i %>" class="c-button c-button--warning modaal-modal">
                削除
              </a>
            </div>
          </div>
        </li>

        <div id="media_manages_time_image_delete_modal_<%= i %>" class="c-modal" style="display:none;">
          <div class="c-modal--title">確認</div>
          <div class="c-modal--content">
            <p>画像を削除します。</p>
            <p>この操作は取り消せません。よろしいですか？</p>
          </div>
          <div>
            <a href="#!" class="c-button modaal_inline_close">キャンセル</a>
            <%= link_to '削除',
              add_params_to_url(
                media_time_image_path(time_image, media_time_image: { media_manage_id: @media_manage.id }),
                @playlist_param
              ),
              method: :delete, 
              class: "c-button c-button--warning" %>
          </div>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render partial: "input_timespan_modal", locals: { media_namage: @media_manage, playlist_param: @playlist_param } %>

<div id="media_manages_restore_modal" style="display:none;">
  <div class="c-modal--title">確認</div>
  <div class="c-modal--content">
    <p>時間を一つ前の状態に戻します。</p>
    <p>よろしいですか？</p>
  </div>
  <div>
    <a href="#!" class="c-button modaal_inline_close">キャンセル</a>
    <%= link_to '戻す', add_params_to_url(restore_media_manage_path(@media_manage), @playlist_param), method: :patch, class: "c-button c-button--warning" %>
  </div>
</div>

<div id="media_manages_finish_watching_modal" style="display:none;">
  <div class="c-modal--title">確認</div>
  <div class="c-modal--content">
    <p>視聴を完了した状態にします。</p>
    <p>よろしいですか？</p>
    <p>※「0秒〜この動画の長さ」の視聴履歴が追加されます。</p>
  </div>
  <div>
    <a href="#!" class="c-button modaal_inline_close">キャンセル</a>
    <button id="timespan_finish_watch_submit_id" class="c-button c-button--confirm">視聴を完了する</button>

    <%= form_with id: 'timespan_finish_watch_id', url: add_params_to_url(finish_watching_path, @playlist_param) do |f| %>
      <input type="hidden" name="media_manage_id" value="<%= @media_manage.id %>">
    <% end %>
  </div>
</div>

<div id="media_manages_playlist_modal" style="display:none;">
  <div class="c-modal--title">プレイリスト</div>
  <div class="c-modal--content">
    <% @playlists.each do |p| %>
      <%= render partial: "playlist_form", locals: {
        playlist: p,
        playlist_media_manage: @pm_hash[p.id],
        media_manage: @media_manage } %>
    <% end %>
  </div>
  <div>
    <a href="#!" class="c-button modaal_inline_close">閉じる</a>
  </div>
</div>
