<h1 class="page-title">ログイン</h1>

<div class="c-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="c-form__field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "c-input c-form__field-input" %>
    </div>

    <div class="c-form__field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "c-input c-form__field-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="c-form__field">
        <label>
          <%= f.check_box :remember_me, { class: "filled-in" } %>
          <span><%= t("activerecord.attributes.user.remember_me") %></span>
        </label>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "c-button c-button--confirm" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
