<div class="playlist-title active">
  <span><%= @playlist.name %></span>
  <a class='dropdown-trigger' href='#' data-target='playlist-show-dropdown'>
    <i class="material-icons">more_vert</i>
  </a>
</div>

<ul id='playlist-show-dropdown' class='dropdown-content'>
  <li>
    <a href="#!" class="playlist-title-edit">
      <i class="material-icons">create</i>タイトル変更
    </a>
    <a href="#!" data-target="playlist_delete_modal" class="modal-trigger">
      <i class="material-icons">delete</i>プレイリスト削除
    </a>
  </li>
</ul>

<%= form_for @playlist do |f| %>
  <%= f.text_field :name %>
  <a href="#" class="playlist-title-edit-cancel">キャンセル</a>
  <%= f.submit "更新", class: "waves-light btn" %>
<% end %>

<div id="playlist_delete_modal" class="modal">
  <div class="modal-content">
    <h4>確認</h4>
    <p><%= @playlist.name %>を削除します。</p>
    <p>よろしいですか？</p>
    <p>※この操作は取り消せません</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn">キャンセル</a>
    <%= link_to '削除', playlist_path(@playlist), method: :delete, class: "waves-effect waves-red btn red" %>
  </div>
</div>

<%= render partial: 'shared/media_manages', locals: { media_manages: @media_manages } %>
