<div class="playlist-title active">
  <span><%= @playlist.name %></span>
  <div class="playlist-actions">
    <a href="#!" class="c-button playlist-title-edit">
      <i class="fa-solid fa-pen"></i>タイトル変更
    </a>
    <a href="#playlist_delete_modal" class="c-button c-button--warning modaal-modal">
      <i class="fa-solid fa-trash-can"></i>プレイリスト削除
    </a>
  </div>
</div>

<%= form_for @playlist do |f| %>
  <%= f.text_field :name, autocomplete: 'off', class: 'c-input playlist_name' %>
  <div class="playlist-edit-buttons">
    <a href="#" class="c-button playlist-edit-button playlist-title-edit-cancel">キャンセル</a>
    <%= f.submit "更新", class: "c-button c-button--confirm playlist-edit-button" %>
  </div>
<% end %>

<div id="playlist_delete_modal" style="display:none;">
  <div class="c-modal--title">確認</div>
  <div class="c-modal--content">
    <p>プレイリスト[<%= @playlist.name %>]を削除します。</p>
    <p>よろしいですか？</p>
    <p>※この操作は取り消せません</p>
  </div>
  <div>
    <a href="#!" class="c-button modaal_inline_close">キャンセル</a>
    <%= link_to '削除', playlist_path(@playlist), method: :delete, class: "c-button c-button--warning" %>
  </div>
</div>

<%= render partial: 'shared/media_manages', locals: { media_manages: @media_manages, playlist: @playlist } %>
