
<nav class="nav">
  <a href="#" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <%= link_to "Shiori", root_path, {class: "brand-logo"} %>
</nav>

<ul class="sidenav hide" id="sidenav-menu">
  <% if user_signed_in? %>
    <li class="sidenav-item">
      <%= link_to edit_user_registration_path do %>
        <i class="material-icons">person</i><span>ユーザー設定</span>
      <% end %>
    </li>

    <li class="divider"></li>

    <li class="sidenav-item">
      <%= link_to media_manages_path do %>
        <i class="material-icons">list</i><span>動画一覧</span>
      <% end %>
    </li>
    <li class="sidenav-item">
      <%= link_to new_media_manage_path do %>
        <i class="material-icons">add</i><span>新規動画</span>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <ul class="sortable">
        <% @playlists.each do |playlist| %>
          <li id="playlist-<%= playlist.id %>-id" class="sidenav-item sortable-sidenav-item">
            <%= link_to playlist_path(playlist) do %>
              <i class="material-icons">playlist_play</i><span><%= playlist.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="sidenav-item">
      <%= link_to new_playlist_path do %>
        <i class="material-icons">playlist_add</i><span>新規プレイリスト</span>
      <% end %>
    </li>

    <li class="divider"></li>

    <li class="sidenav-item">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">exit_to_app</i><span>ログアウト</span>
      <% end %>
    </li>
  <% else %>
    <li class="sidenav-item">
      <%= link_to new_user_session_path do %>
        <i class="material-icons">login</i><span>ログイン</span>
      <% end %>
    </li>

    <li class="sidenav-item"><%= link_to "サインアップ", new_user_registration_path, class: 'post' %></li>
  <% end %>
</ul>

<div id="sidenav-menu-cover"></div>

<script>
  $(function() {
    $(".sidenav-trigger").click(function() {
      $("#sidenav-menu").toggleClass('hide');
    });
    $("html").click(function(e) {
      console.log($(e.target))
      if ( $(e.target).closest('#sidenav-menu').length == 0 && $(e.target).closest('.sidenav-trigger').length == 0 ) {
        $("#sidenav-menu").addClass('hide');
      }
    });
  
    $(".sortable").sortable({
      update: function() {
        var id_list = $(".sortable").sortable("toArray").map(function(value, index, array) {
          return value.substring('playlist-'.length, value.length - '-id'.length);
        });
        $.ajax({
          type: 'PATCH',
          url: '<%= playlist_orders_path %>',
          data: { order: id_list },
          dataType: 'text'
        });
        <%# TODO: エラー時の処理を考える %>
      }
    });
    $(".sortable").disableSelection();
  });
</script>
